@media only screen and (min-width: 471px) and (max-width: 1056px) {

    .oasjfefdf{
      margin:0 40px!important;
      }
      
}
@media only screen and (max-width: 768px) {
  .ojasndaweddwq{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ojoasfwrjwfcxs23{
    margin-right: 0px;
  }
  .huasisfhsfw{}
}
@media only screen and (max-width: 470px) {
  .ijsdiaenqqwsx{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .pioejawdasd{
    margin-top: 40px;
  }
  .hnaisufesodif p,.sajoisddidnsa{
    text-align: center;
  }
  .cseinasdvsiff{
    max-width: 100%;
  }

  .joasinferf{
    flex-direction: column;
  }
  .ojasndaweddwq{
    margin-right: 0px;
   
  }
  .iafeosawq{
    margin-right: 0px;
}
  .iasfnfas p {
    max-width: 100%;
  }
  .marodsfjse{
    margin-top: 50px;
  }
  .oasjfefdf{
    margin-right: 10px!important;
    margin-left: 10px!important;
  }
  .iasfnfas h1
{
  font: normal normal bold 51px/56px Inter;
}
.auifeifr{
  align-items: center;
}
}
@media only screen and (max-width: 768px) {
.auifeifr{
  flex-direction: column;
}
.ijasdgoiset,.ihasfuasyefhzsfsg,.ihasfuasyefhzsfsg1{
  display: none;
}
.joasawewr{
  margin: 20px 0px;
}

}
@media only screen and (max-width: 991px) {
  .idjsoisgde img,.sdkfsder img {
    display: none;
}
}
  @media only screen and (max-width: 375px) {
  .ojasdffwew{
    flex-direction: column;
  }
  .jaisefoef p,.jaisefoef h1{
    text-align: center;
  }
  }
  @media only screen and (max-width: 1104px) {
    .react-multiple-carousel__arrow--left {
      left: initial!important;
      margin-left: calc(-3%)!important;
  }
  }
  @media only screen and (max-width: 1199px) {
    .react-multiple-carousel__arrow--right {
      right: initial!important;
      left: calc(42% + 454px)!important;
  }
  }
  @media only screen and (max-width: 1024px) {
  .ijasdgoiset,.ihasfuasyefhzsfsg,.ihasfuasyefhzsfsg1
  {
    max-width: 380px!important;
  }
  
  .ojasdffwew .align-items-center{
  align-items: flex-start;
  margin-left: 20px;
  }
  .ojasdffwew{
    display: flex;
  }
  .jaisefoef
  {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .ijasidf02iek{

  }
  .jaisefoef h1
  {
    top: 0px;
  }
}

@media only screen and (max-width: 1058px) {


}
  @media only screen and (max-width: 1142px) {
  .idjsoisgde img {
    max-width: 368px;
    margin-left: -19%;
}
.sdkfsder{
  justify-content: center;
 }
}
